* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    position: relative;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    background-color: rgb(219, 69, 64);
}
.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
    
}
.container:after {
    content: '';
    display: block;
    clear: both;
}

header h1 { 
    float: left;
    padding: 30px 0;
    color:  rgb(219, 69, 64);
}
header ul {
   
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    display: inline-block;
    padding: 47px 20px;
}
header ul li a:hover {
    background-color:  rgb(219, 69, 64);
    color: #fff;

}
.active {
    background-color:  rgb(219, 69, 64);
    color: #fff;
}
.banner {
    height: 60vh;
    /* background-image: url(./img/bannerfigma.png); */
    background-size: cover;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: -50px;
    width: 100%; 

   
}

h1 {
    color: #fff;
  
    z-index: 1;
    border: 1px solid #fff;
    padding: 20px 25px;
}
.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right:0 ;
    bottom: 0;
    background-color:rgba(130, 171, 28, 0.6);

}
section {
    padding: 50px 0;
 
}

.img-banner {
    /* width: 100%;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;  */

   
    /* background-image: url(./img/bannerfigma.png); */
    height: 60vh;
    background-size: cover;
    position: relative; 
    justify-content: center;
    align-items: center; 
    display: flex;
    margin-top: -50px;
    width: 100%; 
   
}

section h3 {
    text-align: center;
    padding: 20px 0;
    color:  rgb(219, 69, 64);
    margin-bottom: 25px;
}

.img-banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right:0 ;
    bottom: 0;
    

}

.img-banner h1 {
    color: red;
    z-index: 1;
    padding: 15px 32em;
    font-size: 15px;
    border: 1px solid green;
    background-image: linear-gradient(yellow, red);
    width: 100%;
}
   

/* .img-banner img{
    padding-left: 30em;
} */
section h3 {
    text-align: center;
    padding: 20px 0;
    color:  rgb(219, 69, 64);
    margin-bottom: 25px;
}
.abaut p {
    color: #666;
    word-spacing: 2px;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.service {
   background-color: #f9f9f9;
}
.box {
    color: rgb(64, 219, 82);
 
}
.abaut, .service {
    padding-bottom: 100px;
}
.box:after {
    content: '';
    display: flex;
    clear: both;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
  
    text-align: center;
    float: left;
    

}
.icon {
    width: 70px;
    height: 70px;
    border: 1px solid  rgb(219, 69, 64);
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
}
.box .col-4 h4 {
    margin: 20px;
  
}
footer {
    padding: 30px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.bg-loader {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color:  rgb(219, 69, 64);
    border-right-color:  rgb(219, 69, 64);
    border-bottom-color:  rgb(219, 69, 64);
    animation: puterin .5s linear infinite;

}
.label {
    background-color:  rgb(219, 69, 64);
    color: #fff;
}
@keyframes puterin {
    100%{
        transform: rotate(3600deg);
    }
}
/* @media screen and(max-wid:768px) {
  .container {
    width: 90%;
  }
  header h1 {
    text-align: center;
    float: none;
  }
  header ul{
    text-align: center;
    float: none;
  }
  .box .col-4 {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
    
} */

/* testimoni */

/* .container-testimoni {
   
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 

  
} */

.container-testimoni {
  content: ""; 
  clear: both;
  display: table;
  
  height: 60vh;
  background-size: cover;
  position: relative; 
  justify-content: center;
  align-items: center; 
  display: flex;
  margin-top: -200px;
   width: 100%; 
}

.container-testimoni:after {
    content: '';
    display: block;
    /* position: absolute; */
    top: 0;
    left: 0;
    right:0 ;
    bottom: 0;
    border: 1px solid red;

}
h3 {
    font-size: 50px;
}
/* .container-testimoni img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container-testimoni span {
  font-size: 20px;
  margin-right: 10px;
} */
.garis {
    color: red;
   padding-left : 10px;
   padding-bottom: 80px;
   font-weight: 30px;
}
.nama-testimoni {
   padding-left : 10px;
   margin-bottom: 80px;
}
.keterangan-testi {
    width: 80%;
    margin: 0 auto;
    padding-left: 38em;
    color: rebeccapurple;
    font-weight: 30px;

}
.kota-testimoni {
   padding-left : 10px;
   padding-bottom: 80px;
   width: 200px;
   box-sizing: border-box;
   /* border: 1px solid red; */
}
.comment {
    /* display: flex;
    align-items: center; */
    position: absolute;
    
   left: 800px;
   bottom: 830px;

}
/* .comment-p {
    position: absolute;
    left: 500px;
    bottom: 100px;
} */
@media (max-width: 768px) {
  .container-testimoni {
      text-align: center;
      position: fixed;
  }
  .container-testimoni img {
      margin: auto;
      float: none;
      display: block;
      /* position: fixed; */
  }
  .nama-testimoni{
    margin: auto;
    float: none;
    display: block;
    /* position: fixed; */
  }
  .kota-testimoni {
    margin: auto;
    float: none;
    display: block;
    /* position: fixed; */
  }
}

/* batas testimoni */

@media screen and(max-wid:768px) {
    .container {
        width: 90%;
    }
    header h1 {
        text-align: center;
        float: none;
    }
    header ul {
        text-align: center;
        float: none;
    }
    .box .col-4 {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    .img-banner h1 {
        display: flex;
        position: fixed;
    }
    
}

@media screen and(min-wid:768px) {

    .comment {
        position: fixed;
    }

}